@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

.ln{
    color: transparent;
}

.tw{
    --s: #3ef0de;
}

.tv{
    --r: #469cff;
    --i: var(--r),var(--s,rgba(69, 142, 224, 0));
}

.tl{
    background-image: -webkit-linear-gradient(90deg,var(--i));
}

.w{
    -webkit-background-clip: text;
}
