@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

.ln{
    color: transparent;
}

.tw{
    --s: #4fd1c5;
}

.tv{
    --r: #338cf5;
    --i: var(--r),var(--s,rgba(51,140,245,0));
}

.tl{
    background-image: linear-gradient(90deg,var(--i));
}

.w{
    -webkit-background-clip: text;
}
